* {
  box-sizing: border-box;
}

.flash-message {
  width: 200px;
  border-radius: 5px;
  padding: 10px 0;
  margin: 16px 0px;
  text-align: center;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.field_with_errors input[type="text"],
.field_with_errors textarea {
  border: 1px solid red; 
}

.errors-message {
  color: red;
}

.box{
  margin: 10px;
}

.box-under{
  margin-top:40px;
}

thead th{
  font-size: 15px;
}

thead th:first-child {
  width: 70px;
}

thead th:nth-child(2){
  width: 250px;
}

tbody {
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.input-item {
  margin: 25px 0 0;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
